@use "../../styles/variables" as *;
@use "../../styles/mixins" as m;

.checkout {
  & {
    flex-direction: column;
    overflow: hidden;
    position: relative;
    @include m.section();
  }
}

.withBackground {
  &::before {
    content: "";
    position: absolute;
    top: 39%;
    left: -66%;
    width: 100%;
    height: 109%;
    z-index: 0;
    pointer-events: none;
    background-image: url("/ui/sage1.svg"), url("/ui/sage1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: rotate(-39deg);
  }
  &::after {
    content: "";
    position: absolute;
    top: -19%;
    left: 68%;
    width: 90%;
    height: 106%;
    z-index: 0;
    background-image: url("/ui/sage1.svg"), url("/ui/sage1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: rotate(135deg);
  }
}

@media (max-width: 1200px) {
  .checkout {
    padding: 8rem 5% 2rem;
  }
}

@media (max-width: 1024px) {
  .checkout {
    padding: 8rem 3% 2rem;
  }
}

@media (max-width: 768px) {
  .withBackground {
    &::after {
      width: 127%;
      left: 70%;
    }
    &::before {
      width: 120%;
      left: -80%;
    }
  }
}

@media (max-width: 500px) {
  .withBackground {
    &:after {
      width: 160%;
      left: 60%;
    }

    &::before {
      width: 160%;
      left: -120%;
    }
  }
}
