@use "../../styles/variables" as *;
@use "../../styles/mixins" as m;

.checkout {
  & {
    flex-direction: column;
    overflow: hidden;
    position: relative;
    @include m.section();
  }
}

.withBackground {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    z-index: 0;
    background-image: url("/ui/sage1.svg"), url("/ui/sage1.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100%;
    background-position: -55% 125%;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url("/ui/sage1.svg"), url("/ui/sage1.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 50%;
    background-position: -50% 20%;
    transform: rotate(185deg);
  }
}

@media (max-width: 1200px) {
  .checkout {
    padding: 8rem 5% 2rem;
  }
}

@media (max-width: 1024px) {
  .checkout {
    padding: 8rem 3% 2rem;
  }
}
