@use "../../styles/variables" as *;
@use "../../styles/mixins" as m;

.contact,
.thankYou {
  @include m.section();
  position: relative;
  min-height: calc(100vh - 7rem);
  background: $color-bg;
  background-image: url("/ui/sage1.svg");
  background-repeat: no-repeat;
  background-position: -30rem 20rem;
  background-size: 80rem;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    right: -65rem;
    top: -14rem;
    width: 98rem;
    height: 92rem;
    background: url("/ui/sage1.svg") no-repeat;
    rotate: 213deg;
  }
}

.container {
  z-index: 99;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  .header {
    text-align: left;
    margin-bottom: 3rem;

    .title {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3;
      color: white;
      background-color: $color-green-light;
      outline: 2px solid $color-green-light;
      outline-offset: 0.2rem;
      margin-bottom: 0.5rem;
      display: inline-block;
      padding: 0.1rem 1.7rem;
      border-radius: 2rem;
    }

    .subtitle {
      color: $color-text-light;
      max-width: 40rem;
      margin: 0.3rem 0 0.1rem 0.3rem;
    }
  }
}

.form {
  width: 100%;
  max-width: 80rem;
  background: transparent;
  border-radius: 0.1rem;

  .field {
    display: flex;
    align-items: start;
    gap: 0.7rem;
    margin-bottom: 1.5rem;

    .label {
      min-width: 5rem;
      display: block;
      margin-bottom: 0.5rem;
      color: $color-primary;
      font-size: 0.9rem;
    }

    .input,
    .textarea {
      width: 100%;
      padding: 0.75rem 1rem;
      border: 1px solid $color-secondary;
      border-radius: 0.1rem;
      background: white;
      color: $color-text;
      font-family: inherit;
      transition: border-color 0.2s;

      &:focus {
        outline: none;
        border-color: $color-secondary-light;
      }
    }

    .textarea {
      resize: none;
      min-height: 8rem;
    }
  }
  .submit {
    @include m.cta-button();
    background-color: $color-accent;
    color: $color-primary;
    border: 1px solid $color-primary;
    display: block;
    margin-left: auto;
    transition: all 0.1s ease-in;

    &:hover {
      outline: 1px solid $color-accent;
      outline-offset: 0.1rem;
      border-color: $color-accent;
    }

    &:disabled {
      background: lighten($color-primary, 15%);
      cursor: not-allowed;
    }
  }
}

.thankYou {
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    font-size: 2rem;
    color: $color-secondary;
    margin-bottom: 0.5rem;
    background: rgba($color-secondary-light, 0.3);
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    .message {
      padding: 3rem 2rem;
      position: relative;
      text-align: center;

      .thankYouTitle {
        color: $color-primary;
        background: rgba($color-primary-light, 0.3);
      }

      .text {
        color: $color-secondary;
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 2rem;
      }

      .redirect {
        color: $color-text-light;
        font-size: 0.9rem;
        font-style: italic;
      }
    }
  }
}
