@use "./variables" as *;

@mixin section {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  padding: 8rem 6% 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-bg;

  @media (min-width: 1920px) {
    padding: 8rem 18% 2rem;
  }
}

@mixin cta-button() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  padding: 0.1rem 1.1rem;
  border: 2px solid $color-accent;
  border-radius: 2rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.2s;
  background-color: $color-bg;
  color: $color-text;

  &:hover {
    background-color: $color-accent;
    color: $color-bg;
    border-color: $color-primary;
  }
}
