// Primárne
$color-primary: #b65454;
$color-primary-light: #e3a5a5;
$color-accent: #f47b8a;

// Sekundárne
$color-secondary: #4b7b67;
$color-secondary-light: #92b5a7;

// Neutrálne
$color-bg: #fdfbfb;
$color-text: #222222;
$color-text-light: #666666;

// Doplnkové
$color-border: #e5e5e5;
$color-highlight: #ff5773;
