$color-primary: #d66666;
$color-accent: #ffd7d7;
$color-primary-light: #ff8e92;

$color-secondary: #425958;
$color-secondary-light: #d7e5d5;
$color-green-light: #9ab49e;

$color-bg: #f7f4ee;
$color-text: #425958;
$color-text-light: #526766;

$radius-xs: 0.25rem;
$radius-sm: 0.5rem;
$radius-md: 1rem;
$radius-lg: 1.5rem;
$radius-xl: 2rem;
$radius-round: 50%;
