// Primárne
$color-primary: #d66666;
$color-accent: #ffd7d7;
$color-primary-light: #ff8e92;

// Sekundárne
$color-secondary: #425958;
$color-secondary-light: #d7e5d5;
$color-green-light: #9ab49e;

// Neutrálne
$color-bg: #f7f4ee;
$color-text: #425958;
$color-text-light: #526766;
