@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;

.cartSummary {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;

  .heading {
    background-color: $color-green-light;
    color: white;
    width: 30%;
    padding: 0.1rem 1.2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 400;
    outline: 1px solid $color-green-light;
    outline-offset: 0.2rem;
  }

  > table {
    width: 100%;
    margin-bottom: 2rem;
    border-collapse: collapse;
    border-spacing: 0;

    thead {
      tr {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr 0.5fr;
        padding-right: 1rem;

        th {
          text-align: left;
          padding-bottom: 0.7rem;
          padding-left: 1rem;
          color: $color-text;
          font-weight: 500;

          &:first-child {
            padding-left: 2rem;
          }

          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            text-align: center;
          }
        }
      }
    }

    tbody {
      background-color: white;
      border-radius: 0.1rem;
      overflow: hidden;
      box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.05);

      tr {
        position: relative;
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr 0.5fr;

        &:not(:last-child)::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 1px;
          background-color: $color-green-light;
          width: 98%;
          left: 50%;
          transform: translate(-50%);
        }
        td {
          position: relative;
          display: flex;
          align-items: center;
          padding: 1.5rem 2rem;

          &:first-child {
            display: flex;
            align-items: center;
            gap: 1rem;

            .productImg {
              width: 3.5rem;
              height: 3.5rem;
              object-fit: cover;
            }
          }

          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            justify-content: center;
            font-weight: 500;
          }

          &:last-child {
            justify-content: center;

            .removeBtn {
              all: unset;
              font-size: 1rem;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .totalPrice {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.1rem;
    background-color: $color-secondary-light;
    width: 30%;
    margin: 0 0 0 auto;
    padding: 2rem 2rem;
    margin-bottom: 1rem;
  }

  .info {
    font-size: 0.9rem;
    margin-bottom: 3rem;
    > h3 {
      color: $color-primary;
      font-size: 1rem;
      font-weight: 700;
    }
    > ol {
      list-style: decimal;
      padding-left: 1rem;

      .importantItem {
        color: $color-primary;
        font-weight: bold;
      }
      .highlighted {
        font-weight: 700;
        letter-spacing: 1px;
      }

      ul {
        margin-left: 1rem;

        .highlighted {
          font-weight: 700;
        }
      }
    }
  }
  .onNext {
    margin-left: auto;
    margin-right: 0;
    @include m.cta-button();
    color: white;
    border: none;
    font-weight: 700;
    padding: 0.4rem 1.3rem;
    transition: outline-color 0.3s ease, outline-offset 0.3s ease,
      outline-width 0.3s ease;
    background-color: $color-primary;

    &:hover {
      outline: none;
      background-color: $color-primary;
      outline: 2px solid $color-primary;
      outline-offset: 0.1rem;
    }
  }
}

@media (max-width: 1200px) {
  .cartSummary {
    .heading {
      width: 40%;
      font-size: 1.4rem;
      padding: 0.1rem 1rem;
    }
    > table {
      thead {
        tr {
          grid-template-columns: 2.5fr 1fr 1fr 1fr 0.5fr;
          padding-right: 0.5rem;
          th {
            padding-left: 0.8rem;
            font-size: 0.95rem;
            &:first-child {
              padding-left: 1.5rem;
            }
          }
        }
      }
      tbody {
        tr {
          grid-template-columns: 2.5fr 1fr 1fr 1fr 0.5fr;
          td {
            padding: 1.2rem 1.5rem;
            font-size: 0.95rem;
            &:first-child {
              gap: 0.8rem;
              .productImg {
                width: 3rem;
                height: 3rem;
              }
            }
          }
        }
      }
    }
    .totalPrice {
      width: 40%;
      padding: 1.7rem 1.7rem;
      font-size: 0.95rem;
    }
    .info {
      font-size: 0.85rem;
      > h3 {
        font-size: 0.95rem;
      }
    }
    .onNext {
      font-size: 1rem;
      padding: 0.35rem 1.2rem;
    }
  }
}

@media (max-width: 1024px) {
  .cartSummary {
    .heading {
      width: 50%;
      font-size: 1.3rem;
      padding: 0.1rem 0.9rem;
    }

    > table {
      thead {
        tr {
          grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;

          th {
            padding-left: 0.6rem;
            padding-bottom: 0.6rem;
            font-size: 0.9rem;

            &:first-child {
              padding-left: 1.2rem;
            }
          }
        }
      }

      tbody {
        tr {
          grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;

          td {
            padding: 1rem 1.2rem;
            font-size: 0.9rem;

            &:first-child {
              gap: 0.7rem;

              .productImg {
                width: 2.8rem;
                height: 2.8rem;
              }
            }

            &:last-child {
              .removeBtn {
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }

    .totalPrice {
      width: 50%;
      padding: 1.3rem 1.3rem;
      font-size: 0.9rem;
    }

    .info {
      font-size: 0.8rem;
      margin-bottom: 2.5rem;

      > h3 {
        font-size: 0.9rem;
      }
    }

    .onNext {
      font-size: 0.95rem;
      padding: 0.3rem 1.1rem;
    }
  }
}

@media (max-width: 768px) {
  .cartSummary {
    padding-top: 0.8rem;

    .heading {
      width: 50%;
      font-size: 1.2rem;
      padding: 0.1rem 0.8rem;
      margin-bottom: 1.5rem;
    }

    > table {
      margin-bottom: 1.5rem;

      thead {
        tr {
          grid-template-columns: 2fr 0.8fr 0.8fr 1fr 0.4fr;
          padding-right: 0.3rem;

          th {
            padding-left: 0.4rem;
            padding-bottom: 0.5rem;
            font-size: 0.85rem;

            &:first-child {
              padding-left: 0.8rem;
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              font-size: 0.8rem;
            }
          }
        }
      }

      tbody {
        tr {
          grid-template-columns: 2fr 0.8fr 0.8fr 1fr 0.4fr;

          td {
            padding: 0.9rem 0.8rem;
            font-size: 0.85rem;

            &:first-child {
              gap: 0.6rem;
              flex-wrap: wrap;

              .productImg {
                width: 2.5rem;
                height: 2.5rem;
              }
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              font-size: 0.8rem;
            }

            &:last-child {
              .removeBtn {
                font-size: 0.85rem;
              }
            }
          }
        }
      }
    }

    .totalPrice {
      width: 70%;
      padding: 1.2rem 1rem;
      font-size: 0.85rem;
      margin-bottom: 0.8rem;
    }

    .info {
      font-size: 0.75rem;
      margin-bottom: 2rem;

      > h3 {
        font-size: 0.85rem;
      }

      > ol {
        padding-left: 0.8rem;
      }
    }

    .onNext {
      font-size: 0.9rem;
      padding: 0.3rem 1rem;
      width: 50%;

      margin-right: 0;
    }
  }
}

@media (max-width: 560px) {
  .cartSummary {
    padding-top: 0.1rem;

    .heading {
      width: 65%;
      font-size: 1.1rem;
      padding: 0.1rem 0.7rem;
      margin-bottom: 2.2rem;
    }

    > table {
      margin-bottom: 1.2rem;

      thead {
        display: none;
      }

      tbody {
        tr {
          display: flex;
          flex-direction: column;
          padding: 1rem;
          gap: 0.5rem;

          &:not(:last-child) {
            margin-bottom: 1rem;
          }

          &:not(:last-child)::after {
            display: none;
          }

          td {
            padding: 0.3rem 0;
            justify-content: flex-start;

            &:first-child {
              flex-direction: row;
              align-items: center;
              gap: 1.8rem;
              padding-bottom: 0.7rem;
              border-bottom: 1px solid $color-green-light;
              margin-bottom: 1rem;

              .productImg {
                width: 3rem;
                height: 3rem;
                flex-shrink: 0;
              }
            }

            &:nth-child(2)::before {
              content: "Množství: ";
              font-weight: 600;
              color: $color-text-light;
              margin-right: 0.5rem;
            }

            &:nth-child(3)::before {
              content: "Cena za kus: ";
              font-weight: 600;
              color: $color-text-light;
              margin-right: 0.5rem;
            }

            &:nth-child(4)::before {
              content: "Celkem: ";
              font-weight: 600;
              color: $color-primary;
              margin-right: 0.5rem;
            }

            &:last-child {
              justify-content: flex-end;
              padding-top: 0.5rem;

              .removeBtn {
                font-size: 1.3rem;
                color: $color-primary;
                transition: background-color 0.2s;
                &:hover {
                  background-color: $color-primary-light;
                }
              }
            }
          }
        }
      }
    }

    .totalPrice {
      width: 100%;
      padding: 1rem;
      font-size: 0.9rem;
      margin-bottom: 0.6rem;
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;

      strong {
        font-size: 1.1rem;
      }
    }

    .info {
      font-size: 0.7rem;
      margin-bottom: 1.5rem;

      > h3 {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
      }

      > ol {
        padding-left: 1rem;

        li {
          margin-bottom: 0.5rem;
        }

        ul {
          margin-left: 0.8rem;
          margin-top: 0.3rem;
        }
      }
    }

    .onNext {
      font-size: 0.85rem;
      padding: 0.4rem 0.9rem;
      width: 100%;
    }
  }
}
