@use "../../styles/variables" as *;
@use "../../styles/mixins" as m;

.portfolio {
  @include m.section();
  background: $color-bg;

  .container {
    margin: 0 auto;
    padding: 0 1.5rem;

    .title {
      font-size: 2.4rem;
      color: $color-primary;
      text-align: center;
      margin-bottom: 2rem;
    }

    .grid {
      width: 100%;
      margin: 0 auto;
      column-count: 4;
      column-gap: 2rem;

      .item {
        position: relative;
        break-inside: avoid;
        margin-bottom: 2rem;
        display: block;
        overflow: hidden;
        border-radius: 0.1rem;

        cursor: pointer;
        transition: transform 0.3s;

        &:hover {
          transform: translateY(-0.25rem);

          .overlay {
            opacity: 1;
          }
        }

        .image {
          width: 100%;
          height: auto;
          object-fit: cover;
          display: block;
        }

        .overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          background: rgba($color-accent, 0.7);
          padding: 0.8rem;
          opacity: 0;
          transition: opacity 0.3s;

          .caption {
            color: $color-primary;
            font-weight: 500;
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}
