@use "../styles/variables" as *;
@use "../styles/mixins" as m;

.about {
  & {
    gap: 2rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 5rem;
    @include m.section();
  }

  .left {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
      width: 100%;
      color: $color-primary;
      font-weight: 200;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 99;

      .image {
        width: 23rem;
        max-width: 50rem;
        height: auto;
      }
      .name {
        position: relative;
        font-size: 1.1rem;
        left: 7rem;
        top: -1rem;
      }
    }

    .imgContainer {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-61%, -51%) rotate(33deg);
        width: 190%;
        height: 180%;
        background-image: url("/ui/sage1.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        z-index: 1;
      }

      .photo {
        width: clamp(20rem, 35vw, 25em);
        height: clamp(35rem, 45vh, 30rem);
        max-width: 35rem;
        max-height: 32rem;
        object-fit: cover;
        border-radius: $radius-xs;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        z-index: 99;
      }
    }
  }

  .right {
    flex: 1;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .heading {
      position: relative;
      left: -1rem;
      width: 145%;
      background: $color-green-light;
      outline: 2px solid $color-green-light;
      outline-offset: 0.2rem;
      color: #fff;
      padding: 0.3rem 1.2rem;
      border-radius: $radius-xl;
      font-size: 1.9rem;
      font-weight: 400;
      display: inline-block;
      margin-bottom: 1rem;
    }

    .subheading {
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: 1rem;
    }

    .list {
      padding-left: 1.5rem;
      list-style-type: disc;
      li {
        margin-bottom: 0.3rem;
      }
    }

    .highlight {
      margin-top: 1rem;
      font-weight: 600;
      color: $color-primary;
      span {
        display: block;
        margin-top: 0.2rem;
        font-weight: normal;
      }
    }
  }
}

@media (max-width: 1200px) {
  .about {
    padding: 7rem 3% 2rem;
    gap: 3rem;

    .left {
      .imgContainer {
        width: 80%;
      }
    }
    .right {
      gap: 0.7rem;
      .heading {
        font-size: 1.7rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .about {
    align-items: center;

    .left {
      width: 100%;
      max-width: 300px;

      .imgContainer {
        width: 100%;
        margin-bottom: 2rem;

        &::before {
          width: 243%;
          height: 200%;
          transform: translate(-71%, -42%) rotate(10deg);
        }

        .photo {
          width: 100%;

          height: auto;
          aspect-ratio: 3/4;
        }
      }
    }

    .right {
      width: 100%;
      gap: 0.5rem;
      .heading {
        font-size: 1.7rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .about {
    padding: 4rem 5% 2rem;
    gap: 6rem;
    flex-direction: column;

    .left {
      order: 1;
      width: 100%;
      max-width: 500px;
      position: relative;
      .logo {
        .logoMain {
          font-size: 2.5rem;
        }
        .logoArt {
          font-size: 2.7rem;
        }
        .name {
          left: 5rem;
          font-size: 1rem;
        }
      }

      .imgContainer {
        width: 100%;

        &::before {
          width: 200%;
          height: 200%;
          transform: translate(-67%, -44%) rotate(10deg);
        }
        .photo {
          max-width: 60vw;
        }
      }
    }

    .right {
      order: 2;
      align-items: flex-start;
      justify-content: center;
      .heading {
        font-size: 1.5rem;
        width: 140%;
        left: 0;
        text-align: left;
        margin-left: 13rem;
        margin-bottom: 4rem;
      }

      .subheading {
        font-size: 1.1rem;
        text-align: center;
      }
    }
  }
}

@media (max-width: 480px) {
  .about {
    padding: 3rem 4% 2rem;

    .left {
      .logo {
        .logoMain {
          font-size: 2rem;
        }
        .logoArt {
          font-size: 2.2rem;
        }
        .name {
          left: 3rem;
          font-size: 0.9rem;
        }
      }
    }

    .right {
      .heading {
        font-size: 1.3rem;
        padding: 0.25rem 1rem;
      }
    }
  }
}

@media (min-width: 1450px) {
  .about {
    .left {
      .imgContainer {
        &::before {
          width: 204%;
          height: 224%;
          transform: translate(-66%, -52%) rotate(19deg);
          opacity: 1;
        }
      }
    }
  }
}
