.about {
  gap: 2rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 5rem;
  width: 100vw;
  margin: 0 auto;
  padding: 8rem 6% 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f4ee;
}
@media (min-width: 1920px) {
  .about {
    padding: 8rem 18% 2rem;
  }
}
.about .left {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .left .logo {
  width: 100%;
  color: #d66666;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
}
.about .left .logo .image {
  width: 23rem;
  max-width: 50rem;
  height: auto;
}
.about .left .logo .name {
  position: relative;
  font-size: 1.1rem;
  left: 7rem;
  top: -1rem;
}
.about .left .imgContainer {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about .left .imgContainer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-61%, -51%) rotate(33deg);
  width: 190%;
  height: 180%;
  background-image: url("/ui/sage1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  z-index: 1;
}
.about .left .imgContainer .photo {
  width: clamp(20rem, 35vw, 25em);
  height: clamp(35rem, 45vh, 30rem);
  max-width: 35rem;
  max-height: 32rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 99;
}
.about .right {
  flex: 1;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about .right .heading {
  position: relative;
  left: -1rem;
  width: 145%;
  background: #9ab49e;
  outline: 2px solid #9ab49e;
  outline-offset: 0.2rem;
  color: #fff;
  padding: 0.3rem 1.2rem;
  border-radius: 2rem;
  font-size: 1.9rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 1rem;
}
.about .right .subheading {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1rem;
}
.about .right .list {
  padding-left: 1.5rem;
  list-style-type: disc;
}
.about .right .list li {
  margin-bottom: 0.3rem;
}
.about .right .highlight {
  margin-top: 1rem;
  font-weight: 600;
  color: #d66666;
}
.about .right .highlight span {
  display: block;
  margin-top: 0.2rem;
  font-weight: normal;
}

@media (max-width: 1200px) {
  .about {
    padding: 7rem 3% 2rem;
    gap: 3rem;
  }
  .about .left .imgContainer {
    width: 80%;
  }
  .about .right {
    gap: 0.7rem;
  }
  .about .right .heading {
    font-size: 1.7rem;
  }
}
@media (max-width: 1024px) {
  .about {
    align-items: center;
  }
  .about .left {
    width: 100%;
    max-width: 300px;
  }
  .about .left .imgContainer {
    width: 100%;
    margin-bottom: 2rem;
  }
  .about .left .imgContainer::before {
    width: 243%;
    height: 200%;
    transform: translate(-71%, -42%) rotate(10deg);
  }
  .about .left .imgContainer .photo {
    width: 100%;
    height: auto;
    aspect-ratio: 3/4;
  }
  .about .right {
    width: 100%;
    gap: 0.5rem;
  }
  .about .right .heading {
    font-size: 1.7rem;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 4rem 5% 2rem;
    gap: 6rem;
    flex-direction: column;
  }
  .about .left {
    order: 1;
    width: 100%;
    max-width: 500px;
    position: relative;
  }
  .about .left .logo .logoMain {
    font-size: 2.5rem;
  }
  .about .left .logo .logoArt {
    font-size: 2.7rem;
  }
  .about .left .logo .name {
    left: 5rem;
    font-size: 1rem;
  }
  .about .left .imgContainer {
    width: 100%;
  }
  .about .left .imgContainer::before {
    width: 200%;
    height: 200%;
    transform: translate(-67%, -44%) rotate(10deg);
  }
  .about .left .imgContainer .photo {
    max-width: 60vw;
  }
  .about .right {
    order: 2;
    align-items: start;
    justify-content: center;
  }
  .about .right .heading {
    font-size: 1.5rem;
    width: 140%;
    left: 0;
    text-align: left;
    margin-left: 13rem;
    margin-bottom: 4rem;
  }
  .about .right .subheading {
    font-size: 1.1rem;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .about {
    padding: 3rem 4% 2rem;
  }
  .about .left .logo .logoMain {
    font-size: 2rem;
  }
  .about .left .logo .logoArt {
    font-size: 2.2rem;
  }
  .about .left .logo .name {
    left: 3rem;
    font-size: 0.9rem;
  }
  .about .right .heading {
    font-size: 1.3rem;
    padding: 0.25rem 1rem;
  }
}
@media (min-width: 1450px) {
  .about .left .imgContainer::before {
    width: 204%;
    height: 224%;
    transform: translate(-66%, -52%) rotate(19deg);
    opacity: 1;
  }
}/*# sourceMappingURL=About.module.css.map */