@use "../styles/variables" as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 999;
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: min(80vw, 370px);
  background: $color-bg;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 0.9rem;
    // border-bottom: 3px solid $color-accent;

    h3 {
      margin: 0;
      color: $color-primary;
    }

    .closeBtn {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: $color-secondary;

      &:hover {
        color: $color-primary;
      }
    }
  }
}
.open {
  transform: translateX(0);
  box-shadow: -8px 0 24px rgba(0, 0, 0, 0.15);
}

.content {
  padding: 1rem;

  .cartItem {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
    border-bottom: 1px solid #eee;

    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: $radius-sm;
    }

    .itemInfo {
      flex: 1;
      margin-bottom: 0.4rem;

      h4 {
        margin-bottom: 0.3rem;
        color: $color-primary;

        .itemSize {
          font-weight: normal;
          color: $color-secondary;
          font-size: 0.9em;
        }
      }

      p {
        margin-bottom: 0.3rem;
        color: $color-secondary;
        font-weight: bold;
      }
    }

    .quantity {
      display: flex;
      align-items: center;
      gap: 0.4rem;

      button {
        background: $color-primary;
        color: white;
        border: none;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: $radius-round;
        cursor: pointer;

        &:hover {
          background: $color-primary;
        }
      }
    }

    .removeBtn {
      background: none;
      border: none;
      color: $color-secondary;
      cursor: pointer;
      font-size: 1.2rem;

      &:hover {
        color: $color-primary;
      }
    }
  }

  .total {
    text-align: center;
    padding: 1rem 0;
    font-size: 1.2rem;
    color: $color-primary;
    margin-bottom: 1rem;
  }

  .checkoutBtn {
    width: 100%;
    padding: 0.7rem 1rem;
    background: $color-primary-light;
    color: white;
    border: none;
    border-radius: $radius-xl;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background: $color-primary;
      outline: 2px solid $color-primary;
      outline-offset: 0.1rem;
    }
  }
}
