.footer {
  width: 100vw;
  margin-top: 4rem;
  padding-top: 3rem;
  color: #425958;
  border-top: 4px solid #ffd7d7;
  z-index: 999;
  overflow: hidden;
}
.footer .top {
  margin: 0 auto;
  background: #d7e5d5;
  padding: 3rem 2rem;
  display: grid;
  grid-template-columns: 1.6fr 1fr 1fr 1fr;
  gap: 2rem;
}
.footer .top .logo {
  position: relative;
  width: 22.5rem;
  height: 11rem;
}
.footer .top .tagline {
  font-size: 0.9rem;
  margin-top: 1rem;
  letter-spacing: 0.06rem;
  opacity: 0.85;
}
.footer .col {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 99;
}
.footer .col h4 {
  margin-bottom: 0.7rem;
  font-size: 1rem;
  font-weight: 700;
  color: #425958;
}
.footer .col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .col li {
  margin-bottom: 0.3rem;
}
.footer .col a {
  color: #425958;
  text-decoration: none;
  border-bottom: 0.08rem solid transparent;
  transition: color 0.2s, border-color 0.2s;
}
.footer .col a:hover {
  color: #425958;
  border-color: #425958;
}

.bottom {
  position: relative;
  background: #f7f4ee;
  text-align: center;
  padding: 2rem 1rem;
  color: #526766;
  margin-top: 5.5rem;
}
.bottom .image {
  position: absolute;
  width: 55rem;
  height: 15rem;
  left: 50%;
  transform: translateX(-50%);
  top: -5.7rem;
}
.bottom p {
  font-size: 0.75rem;
  position: relative;
  top: 0.9rem;
}
.bottom a {
  color: #425958;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .footer {
    margin-top: 3rem;
    padding-top: 2rem;
  }
  .footer .top {
    padding: 2rem 1rem;
    gap: 0.7rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .footer .top .logo {
    width: 20rem;
    height: 10rem;
  }
}
@media (max-width: 1024px) {
  .footer .top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    text-align: center;
    justify-items: center;
    gap: 1rem;
  }
  .footer .top .logo {
    width: 19rem;
    height: 9rem;
    grid-column: 1/-1;
  }
  .footer .top .col {
    align-items: center;
  }
  .footer .top .col h4 {
    margin-bottom: 0.5rem;
  }
  .footer .top .col ul li {
    font-size: 0.9rem;
  }
  .bottom {
    margin-top: 4rem;
  }
  .bottom .image {
    width: 47rem;
    height: 13rem;
    top: -4rem;
  }
  .bottom p {
    font-size: 0.7rem;
    top: 1.2rem;
  }
}
@media (max-width: 600px) {
  .footer .top {
    grid-template-columns: 1fr;
    padding: 1rem 1.5rem;
    text-align: center;
    gap: 1rem;
    width: 100vw;
  }
  .footer .top .logo {
    width: 19rem;
    height: 9rem;
  }
  .footer .top .col {
    align-items: center;
  }
  .footer .top .col h4 {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
  }
  .footer .top .col a,
  .footer .top .col li {
    font-size: 0.95rem;
    margin-bottom: 0.2rem;
  }
  .bottom {
    padding: 1.5rem 1rem;
    margin-top: 4.5rem;
    position: relative;
  }
  .bottom .image {
    position: absolute;
    width: 29rem;
    height: 9.3rem;
    top: -3rem;
    max-width: none;
    z-index: 0;
  }
  .bottom p {
    font-size: 0.65rem;
    line-height: 1;
    top: 0.8rem;
  }
}
@media (min-width: 1920px) {
  .footer .top {
    padding: 3rem 10%;
  }
}/*# sourceMappingURL=Footer.module.css.map */