@use "../styles/variables" as *;
@use "../styles/mixins" as m;

.hero {
  @include m.section();
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background: $color-accent;

  .contentWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    height: 70vh;
    gap: clamp(4rem, 6vw, 8rem);
    z-index: 1;

    .imageWrapper {
      border: 4px solid $color-bg;
      padding: 0.3rem;
      border-radius: 0.1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .image {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .textWrapper {
      position: relative;
      top: -2rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      min-width: 350px;
      color: white;

      .logo {
        font-size: 7rem;
        .logoMain {
          font-weight: 200;
        }
        .logoArt {
          position: relative;
          top: 1rem;
          font-family: inherit;
          font-weight: 400;
          font-size: 9rem;
          margin-left: 0.3rem;
          font-family: var(--font-dancing);
        }
      }

      .subtitle {
        position: relative;
        top: -1.3rem;
        color: $color-primary;
        font-size: 1.2rem;
        letter-spacing: 5px;
        margin-bottom: 1.5rem;
      }

      .headline {
        font-size: 2.1rem;
        font-weight: bold;
        color: white;
        margin-bottom: 1rem;
      }

      .description {
        font-size: 1.7rem;
        margin-bottom: 3rem;
        p {
          margin: 0;
          font-weight: 700;
        }
      }

      .cta {
        position: relative;
        top: 1rem;
        z-index: 1;
        @include m.cta-button();
        background-color: $color-green-light;
        border-color: $color-secondary;
        font-size: 1.3rem;
        font-weight: 700;
        transition: all 0.2s ease;

        &:hover {
          background-color: $color-green-light;
          border-color: $color-green-light;
          outline: 2px solid $color-secondary;
          outline-offset: 2px;
        }
      }
    }
  }
}
