@use "../styles/variables" as *;
@use "../styles/mixins" as m;

.section {
  flex-direction: column;
  min-height: 60vh;
  background: $color-bg;
  padding: 3rem 2rem;
  position: relative;
  @include m.section();

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-86%, -36%) rotate(1deg);
      width: 150%;
      height: 120%;
      background-image: url("/ui/pink_1.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      z-index: 0;
    }
    h3 {
      font-size: 3rem;
      color: $color-primary;
      margin-bottom: 1rem;
    }

    .cta {
      position: relative;
      @include m.cta-button();
      font-size: 1.9rem;
      color: $color-primary;
      background-color: $color-accent;
      padding: 0.7rem 1.7rem;
      outline: 2px solid $color-accent;
      outline-offset: 0.3rem;
      transition: all 0.3s ease;

      &:hover {
        outline: none;
        color: white;
      }
    }
  }

  .inner {
    max-width: 75vw;
    margin: 0 auto;

    .title {
      color: $color-primary;
      font-size: 2.5rem;
      font-weight: 400;
      letter-spacing: 0.06rem;
      margin-bottom: 2rem;
    }

    .wrapper {
      position: relative;

      :global(.swiper) {
        :global(.swiper-slide) {
          transition: transform 0.3s ease;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 35rem;
          img {
            border: 5px solid $color-accent;
            height: 30rem;
            object-fit: cover;
          }
        }

        :global(.swiper-slide-next) {
          img {
            border: 7px solid $color-primary;
            transform: scale(1.1);
          }
        }
      }

      .prev {
        left: -2rem;
        width: 2rem;
        height: 2rem;
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-top: 1rem solid transparent;
          border-bottom: 1rem solid transparent;
          border-right: 1.5rem solid $color-primary;
        }
      }
      .next {
        right: -2rem;
        width: 2rem;
        height: 2rem;
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-top: 1rem solid transparent;
          border-bottom: 1rem solid transparent;
          border-left: 1.5rem solid $color-primary;
        }
      }
    }
  }
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .section {
    padding: 2rem 1rem;

    .heading {
      margin-bottom: 6rem;

      > h3 {
        font-size: 2.7rem;
      }
    }

    .inner {
      max-width: 86vw;

      .title {
        font-size: 2.3rem;
      }

      .wrapper {
        :global(.swiper) {
          :global(.swiper-slide) {
            height: 31rem;
            img {
              height: 27rem;
              border: 3px solid $color-accent;
            }
          }

          :global(.swiper-slide-next) {
            img {
              border: 5px solid $color-primary;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .section {
    background-size: 80%;
    background-position: -100% 10%;

    .heading {
      h3 {
        font-size: 1.7rem;
      }

      .cta {
        padding: 0.3rem 1.5rem;
        font-size: 1.7rem;
      }
    }

    .inner {
      max-width: 99vw;

      .title {
        font-size: 2rem;
        text-align: center;
      }

      .wrapper {
        :global(.swiper-slide) {
          width: 100% !important;

          > img {
            border: 20px solid blue;
          }
          :global(.swiper-slide-prev),
          :global(.swiper-slide-next) {
            opacity: 0;
            pointer-events: none;
          }
        }

        :global(.swiper-slide-active) img {
          width: 100%;
          height: auto;
          border-width: 0;
        }

        .prev,
        .next {
          display: none;
        }
      }
    }
  }
}
