@use "../styles/variables" as *;

.spinner {
  display: inline-block;

  .circle {
    border-radius: 50%;
    background: $color-primary;
    animation: breathe 2s ease-in-out infinite;
    opacity: 0.7;
  }

  &[data-size="sm"] {
    .circle {
      width: 32px;
      height: 32px;
    }
  }

  &[data-size="md"] {
    .circle {
      width: 44px;
      height: 44px;
    }
  }

  &[data-size="lg"] {
    .circle {
      width: 60px;
      height: 60px;
    }
  }
}

@keyframes breathe {
  0%,
  100% {
    transform: scale(0.75);
    opacity: 0.4;
    box-shadow: 0 0 0 0 rgba($color-primary, 0.4);
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0 0 20px 5px rgba($color-primary, 0.2);
  }
}
