@use "../../styles/variables" as *;
@use "../../styles/mixins" as m;

.shop {
  & {
    flex-direction: column;
    background: $color-bg;
    background-image: url("/ui/pink_1.svg"), url("/ui/pink_2.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 55%, 62%;
    background-position: -50% 15%, 170% 5%;
    @include m.section();
  }
}

.header {
  text-align: center;
  margin: 0 auto 2rem;
  max-width: 70rem;
  color: $color-primary;
  margin-bottom: 8rem;
  margin-top: 5rem;

  .title {
    font-size: 3.7rem;
    font-weight: 300;
  }
  .subtitle {
    font-family: var(--font-dancing);
    font-size: 2rem;
  }
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 1.5rem auto 2rem;
  max-width: 70rem;

  button {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    padding: 0.6rem 1.7rem;
    border: 0.125rem solid $color-green-light;
    border-radius: 2rem;
    color: $color-text;
    background: $color-secondary-light;
    transition: background 0.2s, color 0.2s, border 0.2s;
    &:hover {
      background: $color-secondary-light;
      outline: 1px solid $color-green-light;
      outline-offset: 0.1rem;
    }
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  margin-top: 7rem;

  .sectionTitle {
    position: relative;
    background-color: $color-green-light;
    color: white;
    outline: 2px solid $color-green-light;
    outline-offset: 0.2rem;
    border-radius: 2rem;
    left: -8rem;
    width: 45%;
    padding: 0.3rem 1.2rem;
    text-align: right;
    font-weight: 400;
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  .categories {
    display: flex;
    align-items: flex-start;
    gap: 2rem;

    .sidebar {
      margin-top: 0.8rem;
      width: 30%;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.13);
      border-radius: 0.1rem;
      padding: 0.5rem 1rem;

      h3 {
        font-size: 1.1rem;

        color: $color-secondary;
        margin-bottom: 0.3rem;
      }
      ul {
        list-style: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        .cat {
          margin-bottom: 0.2rem;
          color: $color-text;
          font-weight: 600;
        }
        .sub {
          color: $color-text-light;
          margin-left: 3.7rem;
          margin-bottom: 0.2rem;
        }
        li {
          color: $color-text-light;
          text-decoration: none;
          font-size: 0.95rem;
          &:hover {
            color: $color-text;
          }
        }
      }
    }

    .grid {
      flex: 1;
      min-width: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.2rem;

      .card {
        border-radius: 0.1rem;
        background: $color-bg;
        padding: 0.8rem;
        transition: transform 0.3s ease-in;

        &:hover {
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.13);
        }

        .link {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }

        .thumb {
          width: 100%;
          height: 17rem;
          object-fit: cover;
          border-radius: 0.1rem;
          display: block;
          margin-bottom: 0.6rem;
        }
        .name {
          font-size: 0.9rem;
          font-weight: 600;

          color: $color-text;
        }
        .price {
          color: $color-text-light;
          margin-top: 0.25rem;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .shop {
    padding: 8rem 3% 2rem;
    .header {
      .title {
        font-size: 3.2rem;
      }
      .subtitle {
        font-size: 1.8rem;
      }
    }

    .content {
      .sectionTitle {
        left: -12rem;
        width: 55%;
        font-size: 1.5rem;
      }
      .categories {
        .grid {
          grid-template-columns: repeat(3, 1fr);
          gap: 0.9rem;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .shop {
    .header {
      .title {
        font-size: 2.6rem;
      }
      .subtitle {
        font-size: 1.6rem;
      }
    }

    .chips {
      gap: 1rem;
      margin-bottom: 7rem;
      button {
        padding: 0.5rem 1.2rem;
        font-size: 0.95rem;
      }
    }

    .content {
      margin-top: 4rem;
      .sectionTitle {
        left: -6rem;
      }

      .categories {
        flex-direction: column;
        gap: 1.2rem;

        .sidebar {
          padding: 0.8rem;
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
        }

        .grid {
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;
          width: 100%;
          justify-items: stretch;
          .card {
            padding: 1.1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .shop {
    background-size: 57%, 70%;
    .chips {
      gap: 1rem;
      max-width: none;
      margin: 1rem auto 1.5rem;
    }

    .content {
      .sectionTitle {
        text-align: right;
        width: 60%;
        font-size: 1.3rem;
        margin-bottom: 4rem;
      }
      .categories {
        .sidebar {
          width: 15rem;
        }
        .grid {
          .card {
            padding: 0.6rem;
            .thumb {
              height: 14rem;
            }
            .name {
              font-size: 0.9rem;
            }
            .price {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .shop {
    .header {
      .title {
        font-size: 2.2rem;
      }
      .subtitle {
        font-size: 1.4rem;
      }
    }

    .chips {
      padding: 0.5rem;
      button {
        font-size: 0.85rem;
        padding: 0.45rem 1rem;
      }
    }

    .content {
      .sectionTitle {
        font-size: 1.1rem;
        width: 82%;
        border-radius: 1rem;
      }
      .categories {
        .sidebar {
          h3 {
            font-size: 0.9rem;
          }

          ul {
            .sub {
              font-size: 0.8rem;
            }
            .cat {
              font-size: 0.8rem;
            }
          }
        }
        .grid {
          gap: 0.2rem;
          .card {
            .thumb {
              height: 12rem;
            }
          }
        }
      }
    }
  }
}
